{% component "focusedElement" id="fe-add-node" %}
<form 
class="p-4 bg-white" 
@keydown.enter="$event.preventDefault();" 
id="add-node-form">   
<div class="relative">
  <input type="text" @keyup.enter="getEditorModal().addChildNode()" 
  x-effect="isOpen ? $nextTick(() => $el.focus()) : null"
  name="node_name"
  placeholder="Enter node name"
  required
  class="block w-full rounded-md border px-3 py-4 text-sm bg-white text-gray-900 placeholder-gray-500"
  />
</div>
<button 
type="button" 
@click="getEditorModal().addChildNode()" 
class="inline-flex items-center justify-center w-full rounded-md text-sm px-3 py-4 bg-slate-900 text-white hover:bg-slate-800 focus:outline-none font-medium mt-4">
Add Node
</button>
</form>
{% endcomponent %}
