{% component "focusedElement" id="fe-confirm-delete" %}
  {% fill "title" %}Delete Node{% endfill %}
  {% fill "default" %}
    <div class="p-4 bg-white">
      <p class="text-sm text-gray-700">Are you sure you want to delete this node? This action cannot be undone.</p>
      <div class="pt-4 flex items-center gap-2">
        <button type="button" @click="getEditorModal().cancelConfirmDelete()" class="inline-flex items-center justify-center flex-1 rounded-md text-sm px-3 py-4 border border-gray-300 text-gray-900 hover:bg-gray-100 focus:outline-none">Cancel</button>
        <button type="button" @click="getEditorModal().confirmDelete()" class="inline-flex items-center justify-center flex-1 rounded-md text-sm px-3 py-4 bg-rose-600 text-white hover:bg-rose-500 focus:outline-none">Delete</button>
      </div>
    </div>
  {% endfill %}
{% endcomponent %}
