{% load custom_filters %}
<div 
x-data="select('{{id}}')"
  x-ref="wrapper"
 {% if options %}
   data-options='{{options|json_string}}'
 {% endif %}
>
  <button
    id="dropdownDefaultButton"
    data-dropdown-toggle="dropdown"
    class="option flex text-sm items-center text-gray-800 dark:text-neutral-200"
    type="button"
  >
    Click Me<svg
      class="w-2.5 h-2.5 ms-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 6"
    >
      <path
        class="text-gray-500 dark:text-gray-400"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 4 4 4-4"
      />
    </svg>
  </button>

  <div
    id="dropdown"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow-md dark:border dark:bg-dark2 dark:border-darkborder dark:shadow-md dark:divide-darkborder w-44"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-200"
      aria-labelledby="dropdownDefaultButton"
    >
      <template x-for="option in options" :key="option">
        <li>
          <button
            @click="$dispatch('option-selected', { value: option, id: '{{id}}' }); select(option);"
            class="flex w-full text-start justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <span x-text="option"></span>
            <template x-if="selectedValue === option">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="21"
                height="21"
                viewBox="0 0 24 24"
                class="stroke-teal-500"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </template>
          </button>
        </li>
      </template>
    </ul>
  </div>
</div>
