<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/github-dark.css' %}">
    <script type="module" crossorigin src="{% static 'js/vite/bundle.js' %}"></script>
    <style>
      body {
        margin: 2rem;
        font-family: 'Poppins', sans-serif;
      }
    </style>
</head>
 <body>
  <main class="p-4 border">
    {% component 'select' id='my-select' options=['Option 1', 'Option 2', 'Option 3'] / %}
  </main>
  </body>
</html>