{# isOpen is provided by the parent (modal) #} 
 <div
   @editor-update.debounce.750ms="getEditorModal().save()"
   x-data="editor('<p>Hello world! :-)</p>')"
   x-init="
   $watch('isOpen', value => value? focus() : null);
   $watch('state', value => value === 'edit'? focus() : null);
   "
   >
    <template x-if="isLoaded()">
    <div class="menu flex gap-2 items-center sticky top-0 bg-white z-10 p-2 border-b border-gray-200">
          {% component "editPreviewTabs" / %}
          {% component "toolbar" / %} 
          {% component 'select'
           id='code-block-language'
           options=["Plain", "JavaScript", "TypeScript", "Python", "HTML"] 
           onChange="(e)=>setCodeBlock(e.detail.value)"
           / %}
        </div>
      </template>
    <!-- Show editor when in edit mode -->
    <div x-show="isEditMode()" x-ref="element"></div>

    <!-- Show preview when in preview mode -->
  <div x-show="isPreviewMode()" x-html="previewContent" class="tiptap whitespace-pre-wrap"></div>
</div>