{% component "baseModal" id="editor-modal" animation='none' %}
      {% fill "title" %}
      <div class="flex items-center justify-between gap-8">
        <h3 
        x-init="getEditorModal().df.set('title', $el)" 
        class="text-lg font-semibold text-gray-900 dark:text-gray-300">
         Title
        </h3>
        <!-- node options -->
        <div class="flex items-center gap-2">
           <div 
            title="Add a child node"
            @click="getEditorModal().openAddChildForm()"
            class="p-2 hover:bg-gray-200 dark:hover:bg-gray-600 rounded cursor-pointer">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
           </div>
        </div>
      </div>
      {% endfill %}
      {% fill "body" %}
        <div class="p-4" id="editor-container">
          {% component "editor" / %}
        </div>
        {% component "focusedElement" id="fe-add-node" %}
         <form 
         class="p-4 bg-white" 
         @keydown.enter="$event.preventDefault();" 
         id="add-node-form">   
               <div class="relative">
                    <input type="text" @keyup.enter="getEditorModal().addChildNode()" 
                    x-effect="isOpen ? $nextTick(() => $el.focus()) : null"
                    name="node_name"
                    placeholder="Enter node name"
                    required
                    class="block w-full border-2 focus:outline-none p-4 text-sm text-gray-900 border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                     />
                    <!-- <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button> -->
                </div>
                <button 
                type="button" 
                @click="getEditorModal().addChildNode()" 
                class="text-white mt-4 flex justify-center items-center w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold rounded-lg text-sm px-4 py-4 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                   Add Node
                </button>
            </form>
        {% endcomponent %}
      {% endfill %}
{% endcomponent %}
