{% component "baseModal" id="editor-modal" placement='top' animation='none' %}
      {% fill "title" %}
         <h3 x-init="getEditorModal().df.setDataField('title', $el)" class="text-lg font-semibold text-gray-900 dark:text-gray-300">
          Title
         </h3>
         <!-- node options -->
         <div class="flex items-center gap-2">
            <div title="Add a child node" @click="getEditorModal().addChildNode()" class="p-2 hover:bg-gray-200 dark:hover:bg-gray-600 rounded cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
            </div>
         </div>
      {% endfill %}
      {% fill "body" %}
        <div class="p-4" id="editor-container">
          {% component "editor" / %}
        </div>
      {% endfill %}
{% endcomponent %}
