@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Custom default border color */
@layer theme {
  :root {
    --default-border-color: #f3f4f6; /* gray-100 */
  }
}

@layer base {
  *, ::before, ::after {
    border-color: var(--default-border-color);
  }
  
  html {
    font-size: 0.875rem; /* text-sm equivalent: 14px */
    line-height: 1.25rem; /* 20px line height */
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.option{
  /* @apply border dark:border-darkborder px-4 p-2 rounded-full cursor-pointer; */
  @apply border px-4 p-2 rounded-lg cursor-pointer;
}

[x-cloak] { display: none !important; }

/* styles for modals */
.modal[data-placement='center']{
   @apply md:items-center;
}

.modal[data-placement='top']{
   @apply items-start top-4;
}

/* modal animations */

.modal[data-animation='translate']{
  @apply transition-transform translate-y-full;
}

.modal[data-animation='translate'].show {
  @apply translate-y-0;
}

.modal[data-animation='none']{
   @apply invisible;
}

.modal[data-animation='none'].show{
  @apply visible;
}

/* editor */

#editor-container{
  /* @apply overflow-y-auto max-h-[70vh] md:max-h-[calc(100vh-6rem)]; */
  @apply overflow-y-auto h-[70vh] md:h-[calc(100vh-8rem)];
}

.tiptap{
  @apply p-4 m-2 border-2 rounded-md focus:border-blue-600 focus:outline-0;
}

.input{
  @apply w-full border-2 p-2 rounded focus:border-blue-600 focus:outline-0;
}